src/main/resources/wsdl/schema/TipiData_v11.0/TipiComuniBancaSchema_v11.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://schema.data.common.ws.popso.it/v11"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schema.data.common.ws.popso.it/v11"
	xmlns:tipi-comuni="http://schema.data.common.ws.popso.it/v11"
	xmlns:tipi-testata="http://schema.tipi.testata.common.ws.popso.it/v11"
	elementFormDefault="qualified">

	<xsd:import schemaLocation="../TipiTestata_v11.0/TipiTestataSchema_v11.0.xsd" namespace="http://schema.tipi.testata.common.ws.popso.it/v11"/>
	<xsd:include schemaLocation="TipiComuniBaseSchema_v11.0.xsd"/>

	<!--================================= Tipi generici bancari ====================================== -->

	<xsd:complexType name="FilialeConBic">
		<xsd:sequence>
			<xsd:element name="codiceFiliale" type="tipi-testata:CodiceFiliale"/>
			<xsd:element name="nome" type="tipi-testata:StringaNonVuota" nillable="true"/>
			<xsd:element name="bic" type="tns:BicFiliale"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FilialeContabile">
		<xsd:sequence>
			<xsd:element name="intestazione" type="tipi-testata:StringaNonVuota"/>
			<xsd:element name="codiceFiliale" type="tipi-testata:CodiceFiliale"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="Bic">
		<xsd:annotation>
			<xsd:documentation>Codice BIC o SWIFT per rapporti internazionali -
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:minLength value="8"/>
			<xsd:maxLength value="11"/>
			<xsd:pattern value="[A-Z]{6,6}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="BicBanca">
		<xsd:annotation>
			<xsd:documentation>Codice BIC Banca</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="tns:Bic">
			<xsd:length value="8"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="BicFiliale">
		<xsd:annotation>
			<xsd:documentation>Codice BIC comprensivo di identificativo Banca e Filiale</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="tns:Bic">
			<xsd:length value="11"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Rapporto">
		<xsd:sequence>
			<xsd:element name="codiceFiliale" type="tipi-testata:CodiceFiliale"/>
			<xsd:element name="numeroRapporto" type="tns:NumeroRapporto"/>
			<xsd:element name="tipologiaRapporto" type="tns:TipologiaRapporto"/>
			<xsd:element name="divisa" type="tipi-comuni:Divisa"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="NumeroRapporto">
		<xsd:annotation>
			<xsd:documentation>Numero Rapporto</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipologiaRapporto">
		<xsd:annotation>
			<xsd:documentation>Tipologie di servizi banca a cui i clienti possono aderire</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
