src/main/resources/wsdl/schema/TipiData_v11.0/TipiComuniAnagrafeSchema_v11.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        targetNamespace="http://schema.data.common.ws.popso.it/v11"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://schema.data.common.ws.popso.it/v11"
        xmlns:tipi-testata="http://schema.tipi.testata.common.ws.popso.it/v11"
        elementFormDefault="qualified">

    <xsd:import schemaLocation="../TipiTestata_v11.0/TipiTestataSchema_v11.0.xsd"
                namespace="http://schema.tipi.testata.common.ws.popso.it/v11"/>

    <xsd:simpleType name="CodiceFiscale">
        <xsd:annotation>
            <xsd:documentation>Codice Fiscale Persone Fisiche e Giuridiche
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:pattern
                    value="[0-9]{11}|[A-Z]{6}[LMNPQRSTUV0-9]{2}[A-Z]{1}[LMNPQRSTUV0-9]{2}[A-Z]{1}[LMNPQRSTUV0-9]{3}[A-Z]{1}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PartitaIva">
        <xsd:annotation>
            <xsd:documentation>Partita IVA
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Sesso">
        <xsd:annotation>
            <xsd:documentation>Sesso (Maschio o Femmina)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="M"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="NaturaGiuridica">
        <xsd:annotation>
            <xsd:documentation>Natura Giuridica
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="PERSONA_FISICA"/>
            <xsd:enumeration value="PERSONA_GIURIDICA"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="Indirizzo">
        <xsd:annotation>
            <xsd:documentation>Dati anagrafici minimi di indirizzo
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="via" type="tipi-testata:StringaNonVuota" />
            <xsd:element name="localita" type="tns:Localita" />
            <xsd:element name="nazione" type="tipi-testata:StringaNonVuota" nillable="true" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Localita">
        <xsd:sequence>
            <xsd:element name="codicePostale" type="tns:CodicePostale" nillable="true" />
            <xsd:element name="citta" type="tipi-testata:StringaNonVuota"  />
            <xsd:element name="provincia" type="tns:Provincia" nillable="true" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CodicePostale">
        <xsd:sequence>
            <xsd:element name="codicePostale" type="tipi-testata:StringaNonVuota" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="CodicePostaleItaliano">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CodicePostaleEstero">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[0-9A-Z]{1,20}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Provincia">
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CodiceIsoPaese">
        <xsd:annotation>
            <xsd:documentation>Codice del paese secondo lo standard ISO 3166-1 alpha-2
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
