src/main/resources/xsd/TIPS/TIPS_camt.053.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: TIPS
Collection: camt.053_TIPS
Usage Guideline: camt.053_BankToCustomerStatementV06_camt.053.001.06
Base Message: camt.053.001.06
Date of publication: 14 May 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_Y2hdAKFGEe2LKugkzxNmJQ/_lsebwKFGEe2LKugkzxNmJQ
Description: Scope
The BankToCustomerStatement message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It is used to inform the account owner, or authorised party, of the entries booked to the account, and to provide the owner with balance information on the account at a given point in time.
Usage
The BankToCustomerStatement message can contain reports for more than one account. It provides information for cash management and/or reconciliation.
It contains information on booked entries only.
It can include underlying details of transactions that have been included in the entry.
The message is exchanged as defined between the account servicer and the account owner. It provides information on items that have been booked to the account and also balance information. Depending on services and schedule agreed between banks and their customers, statements may be generated and exchanged accordingly, for example for intraday or prior day periods.
It is possible that the receiver of the message is not the account owner, but a party entitled through arrangement with the account owner to receive the account information (also known as recipient).
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-08-23T11:00:24+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.053.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.053.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountStatement6__1">
        <xs:sequence>
            <xs:element name="Id" type="TIPS_RestrictedFINXMax35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrToDt" type="DateTimePeriodDetails"/>
            <xs:element name="Acct" type="CashAccount25__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdAcct" type="CashAccount24__1"/>
            <xs:element maxOccurs="2" minOccurs="1" name="Bal" type="CashBalance7__1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ntry" type="ReportEntry8__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndCurrencyExchange3__1">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="2" name="PrtryAmt" type="AmountAndCurrencyExchangeDetails4__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndCurrencyExchangeDetails4__1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BalanceType12Code__1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLBD"/>
            <xs:enumeration value="OPBD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceType12__1">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="BalanceType5Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceType5Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="BalanceType12Code__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BankToCustomerStatementV06">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader58__1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Stmt" type="AccountStatement6__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:sequence>
            <xs:element name="Domn" type="BankTransactionCodeStructure5__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure5__1">
        <xs:sequence>
            <xs:element name="Cd" type="TIPS_BankTransactionDomain1Code"/>
            <xs:element name="Fmly" type="BankTransactionCodeStructure6__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure6__1">
        <xs:sequence>
            <xs:element name="Cd" type="TIPS_BankTransactionFamily1Code"/>
            <xs:element name="SubFmlyCd" type="TIPS_BankTransactionSubFamily1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5__1">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount24__1">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount25__1">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
            <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="Ownr" type="PartyIdentification43__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashBalance7__1">
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType12__1"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Dt" type="DateAndDateTimeChoice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice__1">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice__2">
        <xs:choice>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrStmt" type="BankToCustomerStatementV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryDetails7__1">
        <xs:sequence>
            <xs:element name="TxDtls" type="EntryTransaction8__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EntryStatus2Code__1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EntryTransaction8__1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="RltdAgts" type="TransactionAgents3__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8__1">
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader58__1">
        <xs:sequence>
            <xs:element name="MsgId" type="TIPS_RestrictedFINXMax35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification8__1">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party11Choice__1">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification8__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43__1">
        <xs:sequence>
            <xs:element name="Id" type="Party11Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportEntry8__1">
        <xs:sequence>
            <xs:element name="NtryRef" type="TIPS_RestrictedFINXMax35Text"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Sts" type="EntryStatus2Code__1"/>
            <xs:element name="BookgDt" type="DateAndDateTimeChoice__2"/>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1"/>
            <xs:element name="AmtDtls" type="AmountAndCurrencyExchange3__1"/>
            <xs:element name="NtryDtls" type="EntryDetails7__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlNtryInf" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TIPS_BankTransactionDomain1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PMNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TIPS_BankTransactionFamily1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICDT"/>
            <xs:enumeration value="RCDT"/>
            <xs:enumeration value="IRCT"/>
            <xs:enumeration value="RRCT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TIPS_BankTransactionSubFamily1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FICT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TIPS_RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionAgents3__1">
        <xs:sequence>
            <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5__1"/>
            <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5__1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
