src/main/resources/xsd/TIPS/TIPS_camt.052.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: TIPS
Collection: camt.052_TIPS
Usage Guideline: camt.052_TIPS_BankToCustomerAccountReportV06_camt.052.001.06
Base Message: camt.052.001.06
Date of publication: 07 February 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_OTewQKbREe2Tmbc9uu6IxQ/_UJuK4KbREe2Tmbc9uu6IxQ
Description: Scope
The BankToCustomerAccountReport message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It can be used to inform the account owner, or authorised party, of the entries reported to the account, and/or to provide the owner with balance information on the account at a given point in time.
Usage
The BankToCustomerAccountReport message can contain reports for more than one account. It provides information for cash management and/or reconciliation. It can be used to:
- report pending and booked items;
- provide balance information.
It can include underlying details of transactions that have been included in the entry.
It is possible that the receiver of the message is not the account owner, but a party entitled by the account owner to receive the account information (also known as recipient).
For a statement, the Bank-to-Customer Account Statement message should be used.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-25T06:34:29+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReport19__1">
        <xs:sequence>
            <xs:element name="Id" type="TIPS_RestrictedFINXMax35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="Acct" type="CashAccount25__1"/>
            <xs:element maxOccurs="2" minOccurs="2" name="Bal" type="CashBalance7__1"/>
            <xs:element name="TxsSummry" type="TotalTransactions5__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BalanceType12Code__1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLBD"/>
            <xs:enumeration value="OPBD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceType12__1">
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="BalanceType5Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceType5Choice__1">
        <xs:choice>
            <xs:element name="Cd" type="BalanceType12Code__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BankToCustomerAccountReportV06">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader58__1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="AccountReport19__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount25__1">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1"/>
            <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="Ownr" type="PartyIdentification43__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashBalance7__1">
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType12__1"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Dt" type="DateAndDateTimeChoice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice__1">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader58__1">
        <xs:sequence>
            <xs:element name="MsgId" type="TIPS_RestrictedFINXMax35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberAndSumOfTransactions1__1">
        <xs:sequence>
            <xs:element name="Sum" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification8__1">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party11Choice__1">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification8__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43__1">
        <xs:sequence>
            <xs:element name="Id" type="Party11Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TIPS_RestrictedFINXMax35Text">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TotalTransactions5__1">
        <xs:sequence>
            <xs:element name="TtlCdtNtries" type="NumberAndSumOfTransactions1__1"/>
            <xs:element name="TtlDbtNtries" type="NumberAndSumOfTransactions1__1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
