src/main/resources/xsd/CGS/CGS_S2CGSBlk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- STEP2 Schema CGS, S2CGSBlk, February 08th 2023, Release November 2023 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sw2="urn:iso:std:iso:20022:tech:xsd:camt.052.001.10" xmlns:sw3="urn:iso:std:iso:20022:tech:xsd:camt.053.001.08" xmlns:sw4="urn:iso:std:iso:20022:tech:xsd:camt.054.001.10" xmlns:S2CGSBlk="urn:S2CGSBlk:xsd:$S2CgsBlk" targetNamespace="urn:S2CGSBlk:xsd:$S2CgsBlk" elementFormDefault="qualified">
	<xs:import namespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.10" schemaLocation="CGS_camt.052.001.10.xsd"/>
	<xs:import namespace="urn:iso:std:iso:20022:tech:xsd:camt.053.001.08" schemaLocation="CGS_camt.053.001.08.xsd"/>
	<xs:import namespace="urn:iso:std:iso:20022:tech:xsd:camt.054.001.10" schemaLocation="CGS_camt.054.001.10.xsd"/>
	<xs:element name="S2CgsBlk">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SndgInst" type="S2CGSBlk:BICFIDec2014Identifier"/>
				<xs:element name="RcvgInst" type="S2CGSBlk:BICFIDec2014Identifier"/>
				<xs:element name="SttlmtBIC" type="S2CGSBlk:BICFIDec2014Identifier"/>
				<xs:element name="SrvcId" type="S2CGSBlk:SrvcID"/>
				<xs:element name="TstCode" type="S2CGSBlk:TestCodeType"/>
				<xs:element name="FileType" type="S2CGSBlk:FTpType"/>
				<xs:element name="FileRef" type="S2CGSBlk:Max16Text"/>
				<xs:element name="FileBusDt" type="S2CGSBlk:ISODate"/>
				<xs:element name="FileLac" type="S2CGSBlk:Max2NumericText"/>
				<xs:element name="FileDtTm" type="S2CGSBlk:ISODateTime"/>
				<xs:sequence>
					<xs:element name="BkToCstmrAcctRpt" type="sw2:BankToCustomerAccountReportV10" minOccurs="0" maxOccurs="1"/>
					<xs:element name="BkToCstmrDbtCdtNtfctn" type="sw4:BankToCustomerDebitCreditNotificationV10" minOccurs="0" maxOccurs="1"/>
					<xs:element name="BkToCstmrStmt" type="sw3:BankToCustomerStatementV08" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIDec2014Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FTpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LMR"/>
			<xs:enumeration value="LNR"/>
			<xs:enumeration value="DLR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="P"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCT"/>
			<xs:enumeration value="COR"/>
			<xs:enumeration value="B2B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
